@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #0b0d17;
  color: #f3f4f6;
  overflow-x: hidden;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-sky-500 via-amber-600 to-teal-500 to-rose-600;
  }
}
